*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(40, 3, 80);
    color: rgb(40, 3, 80);
}

#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 360px;
    height: 250px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(237, 241, 30);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6aff00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    color: white;
    margin-top:20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: rgb(0, 221, 255);
}

#about{
    padding: 80px 0;
    color: rgb(247, 8, 235);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer; 
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #cc8a33;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
   display: block;    
}

.skillImage {
    height: 15em;
    width: 15em;
    margin-top: -1%;
  }
  
  .skillTitle {
    margin-top: 1%;
    font-size: 1.7em;
  }
  
  .skillDesc {
    margin-top: 15%;
  }
  
  .box:hover {
    box-shadow: 0 4px 30px -5px rgba(59, 3, 77, 0.2);
  }
  
  @media only screen and (max-width: 600px) and (min-width: 0px) {
    .box {
      display: block;
      height: auto;
      width: auto;
      margin: 10% 3% 0 3%;
      padding: 1% 0% 3% 0%;
      background-color: #fff;
      transition: all 0.4s ease;
      cursor: default;
    }
    
    .wholeBox {
      height: auto;
      width: 96%;
      margin: 10% 3% 0 3%;
      padding: 1% 0% 3% 0%;
      background-color: #fff;
      transition: all 0.4s ease;
      cursor: default;
    }
    
    .skillImage {
      height: 15em;
      width: 15em;
      margin-top: 1%;
    }
    
    .skillTitle {
      font-size: 3em;
      font-weight: 400;
      margin-top: 5%;
    }
    
    .skillDesc {
      margin-top: 1%;
      letter-spacing: 1px;
      display: none;
    }
  }
.contact-left{
   flex-basis: 35%;    
}
.contact-right{
   flex-basis: 60%;    
}

.contact-left p{
   margin-top: 30px;    
}

.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea, form select, form radio{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
}

@media only screen and (max-width: 600 px){
    .header-text{
        margin-top: 100%;
    }
}